<?xml version="1.0"?>

<launch>

  <node pkg="joy" type="joy_node" name="joy">
    <param name="autorepeat_rate" value="2.0"/>
  </node>

  <node pkg="ros_teleop" type="teleop_joy.py" name="teleop_joy">
    <rosparam file="$(find ros_teleop)/config/joy.yaml" command="load"/>
  </node>

</launch>
